## Question 1

# Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

In [53]:
a = 0 
def b():
  global a
  a = c(a)
    
def c(a):
 return a + 2
b()
b()
b()
a

6

## Question 2


Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [3]:
def fileLength(filename):
    try:
        in_file = open(filename,'r')
        content = in_file.read()
        in_file.close()
        return len(content)
    except FileNotFoundError:
        print(f"File '{filename}' not found.")
result= fileLength('midterm.py')
print(result)

File 'midterm.py' not found.
None

### Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [16]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [20]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
        collatz(1)
# Output: 1

collatz(10)

10
5
16
8
4
2
1
1

## Question 5


Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [21]:
def binary(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return binary(n // 2) + str(n % 2)
def binary(n):
    if n == 0:
        print("0")
    elif n == 1:
        print("1")
    else:
        binary(n // 2)
        print(n % 2)
binary(0)
# Output: 0

binary(1)
# Output: 1

binary(3)
# Output: 11

binary(9)
# Output: 1001

0
1
1
1
1
0
0
1

## Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
 BDAT 1004 – Data Programming 
Page 6 of 7
F2021
BDAT 1004 Computer Studies
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [ ]:
import sqlite3

# connect to database
conn = sqlite3.connect('weather.db')

# create cursor object
c = conn.cursor()

# create table 
c.execute('''CREATE TABLE climate
            (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
             )''')

# insert data into table 
weather_data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
                ('Mumbai', 'India', 'Spring', 28.4, 16.2),
                ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
                ('Mumbai', 'India', 'Fall', 27.6, 346.0),
                ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
                ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
                ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
                ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
                ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
                ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
                ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
                ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
c.executemany('INSERT INTO climate VALUES (?, ?, ?, ?, ?)', weather_data)

# commit changes and close connection
conn.commit()
conn.close()

In [ ]:
import sqlite3

# connect to database
conn = sqlite3.connect('weather.db')

# create cursor object
c = conn.cursor()

## a

In [45]:
c.execute('SELECT Temperature FROM climate')
temperature_data = c.fetchall()
print(temperature_data)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

## b

In [46]:
c.execute('SELECT DISTINCT City FROM climate')
cities = c.fetchall()
print(cities)

[('Mumbai',), ('London',), ('Cairo',)]

## c

In [47]:
c.execute("SELECT * FROM climate WHERE Country = 'India'")
india_records = c.fetchall()
print(india_records)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

## d

In [48]:
c.execute("SELECT * FROM climate WHERE Season = 'Fall'")
fall_records = c.fetchall()
print(fall_records)

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## e

In [49]:
c.execute("SELECT City, Country, Season FROM climate WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season")
rainfall_records = c.fetchall()
print(rainfall_records)

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

## f

In [50]:
c.execute("SELECT City, Country FROM climate WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
fall_temp_records = c.fetchall()
print(fall_temp_records)

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

## g

In [51]:
c.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM climate WHERE City = 'Cairo'")
cairo_rainfall = c.fetchone()[0]
print(cairo_rainfall)

27.6

## h

In [52]:
c.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM climate GROUP BY Season")
season_rainfall = c.fetchall()
print(season_rainfall)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

## Question 9


. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more characters)

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

# a

In [17]:
new_words = [word.upper() for word in words]
print(new_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# b

In [26]:
new_words = [word.lower() for word in words]
print(new_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# c

In [21]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# d

In [22]:
new_words = [[word.upper(), word.lower(), len(word)] for word in words]
print(new_words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# e

In [23]:
list_words = [word for word in words if len(word) >= 4]
print(list_words)

['quick', 'brown', 'jumps', 'over', 'lazy']